apiVersion: v1
kind: Service
metadata:
  name: task-api-service
  labels:
    app: task-api
spec:
  type: LoadBalancer
  selector:
    app: task-api
  ports:
  - protocol: TCP
    port: 80
    targetPort: 5000
    name: http
